<h1>Editing prize_draw</h1>

<%= render "form", prize_draw: @prize_draw %>

<br>

<div>
  <%= link_to "Show this account", manager_event_prize_draws_path %> |
  <%= link_to "Back to accounts", manager_event_prize_draws_path %>
</div>