<section class="bg-gray-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl p-2 lg:px-8">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="py-3 flex flex-col items-center">
          <div class="flex flex-col items-start">
            <h1 class="p-4 text-center md:text-left max-w-2xl text-2xl font-bold text-gray-900 dark:text-white"><%= t '.draw' %></h1>
          </div>
        </div>
        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
          <%= link_to new_manager_event_prize_draw_path, class: "w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0" do %>
            <button type="button" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
              <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
              </svg>
              <%= t '.new' %>
            </button>
          <% end %>
        </div>
      </div>
      <div>
        <% @prize_draws.each do |prize_draw| %>
           <%= render partial: "prize_draw", locals: { prize_draw: prize_draw} %>
        <% end %>
      </div>
    </div>
  </div>
</section>
