<div class="w-full mt-4">
  <div class="max-w-lg mx-auto">
    <h1 class="text-4xl font-semibold text-gray-900 mb-4 text-center"><%= t("views.manager.student.new.title") %></h1>
  </div>

  <div class="max-w-md mx-auto">
    <%= render "manager/students/form", student: @student %>
  </div>
</div>