<div class="panel">
  <div class="panel_contents">
    <div class="attributes_table source" id="attributes_table_source_1">
      <table>
        <tbody>
        <%= form_for :certificate, url: { action: "create_certificate"}, html: { :multipart => true } do |f| %>
          <tr class="row row-key">
            <th><%= f.label :event_id, t("active_admin.views.students.event") %></th>
            <td><%= f.select :event_id, options_for_select(Event.all.collect { |event| [event.name, event.id] }), prompt: t("active_admin.views.students.select_event") %></td>
          </tr>
          <tr class="row row-key">
            <th> <%= submit_tag t("active_admin.views.submit") %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>