<div class="flex flex-col items-center justify-center">
  <div class="flex">
    <div class="p-4">
      <h2 class="text-dark mb-6 text-[32px] font-bold sm:text-[40px] lg:text-[36px] xl:text-[40px]">
        <%= t("views.certificates.certificate.download_now") %>
      </h2>
      <div class="flex items-center justify-center mt-4 text-gray-700">
        <%= render "download_button" %>
      </div>
    </div>
  </div>
  <%= render "certificate_image" %>
</div>

