<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo ao Ticket Event!</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
    }
    .signature {
      font-style: italic;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bem-vindo ao Ticket Event!</h1>
  
    <p>Olá <%= @student.name %>,</p>

    <p>Estamos felizes em tê-lo participando de nosso evento. Esperamos que você aproveite ao máximo essa experiência.</p>

    <p>Atenciosamente,</p>
    <p class="signature">A equipe Ticket Event</p>
  </div>
</body>
</html>
