<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @ticket.student.name %> aqui está seu ingresso.</h1>
<p>Ingresso para o evento: <%= @ticket.event.description %></p>

<p><%= @ticket.event.info %></p>

<p>
  <%= image_tag(@ticket.png, size: "300x300") %>
</p>

</body>
</html>
